<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Hhmedia_Topbar::settings" title="Topbar Setting" module="Hhmedia_Topbar" sortOrder="60" parent="Hhmedia_Editor::editor" action="adminhtml/system_config/edit/section/topbar" resource="Hhmedia_Topbar::config_topbar"/>
    </menu>
</config>