<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
	    <resources>
	        <resource id="Magento_Backend::admin">
	        	<resource id="Bg_Freshdesk::tickets" title="Freshdesk" sortOrder="10">
	        	    <resource id="Bg_Freshdesk::tickets_tickets" title="Tickets" sortOrder="10">
	        	     
	        	    </resource>
	        	</resource>
	            <resource id="Magento_Backend::stores">
	                <resource id="Magento_Backend::stores_settings">
	                    <resource id="Magento_Config::config">
	                        <resource id="Bg_Freshdesk::config_freshdesk" title="Freshdesk Settings" />
	                    </resource>
	                </resource>
	            </resource>
	        </resource>
	    </resources>
	</acl>
</config>
