<!--
/**
* Copyright © 2016 Magento. All rights reserved.
* See COPYING.txt for license details.
*/
-->
<div class="container checkout-login-container">
<!-- ko ifnot: customer().firstname  -->
  <div class="row">
    <div class="col-md-6 checkout-guest">
      <div class="block">
        <div class="block-title" role="heading" aria-level="2">Guest Checkout</div>
      </div>
      <p>When you want to buy at <em>Shop</em> H&H it isn't mandatory to create an account. However, we ask you to share your email address so we can send you your order confirmation and tracking information.</p>
      <input class="input-text" type="email" name="guest-checkout-email" placeholder="Email">
      <div class="actions-toolbar">
        <button class="action primary">Continue As Guest</button>
      </div>
    </div>
    <div class="col-md-6 checkout-user">
      <div class="block">
        <div class="block-title" role="heading" aria-level="2">Login To Your Shop H&H Account</div>
      </div>
      <a href="">Create Account</a>
      <form data-role="login"
        data-bind="submit:login"
        method="post">
        <div class="fieldset"
          data-bind="attr: {'data-hasrequired': $t('* Required Fields')}">
          <div class="field field-email required">
            <div class="control">
              <input type="email"
              class="input-text"
              id="login-email"
              name="username"
              placeholder="Email"
              data-bind="attr: {autocomplete: autocomplete}"
              data-validate="{required:true, 'validate-email':true}" />
            </div>
          </div>
          <div class="field field-password required">
            <div class="control">
              <input type="password"
              class="input-text"
              id="login-password"
              name="password"
              placeholder="Password"
              data-bind="attr: {autocomplete: autocomplete}"
              data-validate="{required:true}"
              autocomplete="off"/>
            </div>
          </div>
          <!-- ko foreach: getRegion('additional-login-form-fields') -->
          <!-- ko template: getTemplate() --><!-- /ko -->
          <!-- /ko -->
        </div>
        <div class="actions-toolbar">
          <input name="context" type="hidden" value="checkout" />
          <button type="submit" class="action action-login primary"><span data-bind="i18n: 'Sign In'"></span></button>
          <a class="action action-remind" data-bind="attr: { href: forgotPasswordUrl }">
            <span data-bind="i18n: 'Forgot Your Password?'"></span>
          </a>
        </div>
      </form>
    </div>
  </div>
<!-- /ko -->
</div>
