<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!-- ko foreach: getRegion('authentication') -->
<!-- ko template: getTemplate() --><!-- /ko -->
<!--/ko-->

<!-- ko foreach: getRegion('progressBar') -->
<!-- ko template: getTemplate() --><!-- /ko -->
<!--/ko-->

<!-- ko foreach: getRegion('estimation') -->
    <!-- ko template: getTemplate() --><!-- /ko -->
<!--/ko-->

<!-- ko foreach: getRegion('messages') -->
    <!-- ko template: getTemplate() --><!-- /ko -->
<!--/ko-->
<div class="opc-wrapper">
    <ol class="opc" id="checkoutSteps">
    <!-- ko foreach: getRegion('steps') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
    <!--/ko-->
    </ol>
</div>

<!-- ko foreach: getRegion('sidebar') -->
    <!-- ko template: getTemplate() --><!-- /ko -->
<!--/ko-->

<div id="popup-modal" style="display:none;">
<div data-bind="html: window.checkoutConfig.cms_block_message"></div>
</div>
<script>
    require([
            'jquery',
            'Magento_Ui/js/modal/modal',
        ],function($,modal) {
            var options = {
                autoOpen: true,
                type: 'popup',
                responsive: true,
                innerScroll: true,
                buttons: [{
                    text: $.mage.__('Close'),
                    class: '',
                    click: function () {
                        $('#popup-modal').modal('closeModal');
                    }
                }]
            };
            var popup = modal(options, $('#popup-modal'));

            var cfqLink = $("#call-for-quote-link");
                console.log(cfqLink.length);
            if (cfqLink.length) {
                cfqLink.click(function() {
                console.log('pickle');
                    $('#popup-modal').modal('openModal');
                });
            }
        }
    );
</script>


