<div class="checkout-block" id="block-summary">
    <span class="total-qty" data-bind="text: totalQty"></span>
    <div data-bind="foreach: itemList">
        <!-- ko foreach: items -->
        <div class="row">
            <div class="col-md-6">
                <img data-bind="attr: { src: thumbnail }"/>
                <div class="order-product-details">
                    <span class="order-product-name" data-bind="html: name"></span>
                    <div class="order-product-options">
                        <span class="product-option" data-bind="html: color"></span>
                        <span class="product-option" data-bind="html: size"></span>
                        <span class="sku" data-bind="text: sku"></span>
                        <span>Qty: <span class="qty" data-bind="text: qty"></span></span>
                    </div>
                </div>
            </div>
        </div>
        <!-- /ko -->
        <div class="order-shipping-container">
            <span class="order-shipping-time" data-bind="text: shipping_time_text"></span>
            <span class="order-shipping-cost" data-bind="text: shipping_cost_text, css: shipping_cost_class"></span>
        </div>
    </div>
</div>
