<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Bluebadger\Dropship\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Bluebadger\Dropship\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">DropshipLogger</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Bluebadger\Dropship\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
    <preference for="Unirgy\Dropship\Block\Vendor\HtmlHeader" type="Bluebadger\Dropship\Block\Vendor\HtmlHeader" />
    <type name="Magento\Sales\Model\Order">
        <plugin name="unholdPlugin" type="Bluebadger\Dropship\Plugin\Unhold" />
    </type>
</config>