<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Hhmedia_Editor::editor" title="Editor" module="Hhmedia_Editor" sortOrder="30" resource="Hhmedia_Editor::editor"/>
        <add id="Hhmedia_Editor::editor_manage" title="All Items" module="Hhmedia_Editor" sortOrder="10" parent="Hhmedia_Editor::editor" action="editor/index/" resource="Hhmedia_Editor::manage"/>
    </menu>
</config>
