<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
    	<add id="Hhmedia_Editor::editor" title="Shop HH" module="Hhmedia_Editor" sortOrder="30" resource="Hhmedia_Editor::editor"/>
        <add id="Hhmedia_Editor::editor_manage" title="Editors Picks" module="Hhmedia_Editor" sortOrder="20" parent="Hhmedia_Editor::editor" action="editor/index/" resource="Hhmedia_Editor::manage" />
        <add id="Hhmedia_Editor::cms_page" title="Edit Pages" translate="title" module="Magento_Cms" sortOrder="200" parent="Hhmedia_Editor::editor" action="cms/page" resource="Magento_Cms::page"/>
        <add id="Hhmedia_Editor::cms_block_welcome" title="Welcome to Shop HH" translate="title" module="Magento_Cms" sortOrder="300" parent="Hhmedia_Editor::editor" action="cms/block/edit/block_id/10" resource="Magento_Cms::block"/>
        <add id="Hhmedia_Editor::cms_block_contact" title="Contact Information" translate="title" module="Magento_Cms" sortOrder="301" parent="Hhmedia_Editor::editor" action="cms/block/edit/block_id/8" resource="Magento_Cms::block"/>
        <add id="Hhmedia_Editor::cms_block_customer" title="Cart Customer Service" translate="title" module="Magento_Cms" sortOrder="302" parent="Hhmedia_Editor::editor" action="cms/block/edit/block_id/12" resource="Magento_Cms::block"/>
        <add id="Hhmedia_Editor::cms_block_13" title="Call For Quote" translate="title" module="Magento_Cms" sortOrder="303" parent="Hhmedia_Editor::editor" action="cms/block/edit/block_id/13" resource="Magento_Cms::block"/>
        <add id="Hhmedia_Editor::cms_block_14" title="Returns Exchanges - Selecting a shipping carrier" translate="title" module="Magento_Cms" sortOrder="304" parent="Hhmedia_Editor::editor" action="cms/block/edit/block_id/14" resource="Magento_Cms::block"/>
        <add id="Hhmedia_Editor::cms_block_15" title="Returns Exchanges - Sending to the right partner" translate="title" module="Magento_Cms" sortOrder="305" parent="Hhmedia_Editor::editor" action="cms/block/edit/block_id/15" resource="Magento_Cms::block"/>
        <add id="Hhmedia_Editor::cms_block_16" title="Returns Exchanges Guide" translate="title" module="Magento_Cms" sortOrder="306" parent="Hhmedia_Editor::editor" action="cms/block/edit/block_id/16" resource="Magento_Cms::block"/>
        <add id="Hhmedia_Editor::cms_block_17" title="Returns Exchanges - White Glove Service" translate="title" module="Magento_Cms" sortOrder="307" parent="Hhmedia_Editor::editor" action="cms/block/edit/block_id/17" resource="Magento_Cms::block"/>
        <add id="Hhmedia_Editor::cms_block_18" title="Package Insurance" translate="title" module="Magento_Cms" sortOrder="308" parent="Hhmedia_Editor::editor" action="cms/block/edit/block_id/18" resource="Magento_Cms::block"/>
    </menu>
</config>
