
#awemenu {
  margin: 0!important;

  .am-tabs a {
    display: block;
    padding: 10px 15px;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    position: relative;
    transition: 0.3s all;


    &:hover {
      /*text-decoration: underline;*/
    }

  }

  .level-one {
    background-color: #F0F0F0;
    padding: 20px 0;
  }
}

#awemenu .am-tabs > .am-sortable {
  float: none!important;
}

.inspiration-board {
  float: right!important;
}

#awemenu .am-tabs .am-tab .am-dropdown .am-row .am-column .am-item {
  margin-bottom: 5px!important;
}

.menu-one {
  border-right: 1px solid rgba(0,0,0,0.1);
}

.menu-three {
  background-color: #FFF;
}

.am-link-text {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    width: 0;
    bottom: 0;
    background: #333;
    border-bottom: 2px solid #222;
    visibility: hidden;
    transition: all .3s ease-in-out 0s;
  }


  &:hover:before {
    visibility: visible;
    width: 100%;
  }
}
