<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
    	<add id="Bg_Freshdesk::tickets" title="Freshdesk" module="Bg_Freshdesk" sortOrder="20" resource="Bg_Freshdesk::tickets"/>
		
		<add id="Bg_Freshdesk::tickets_tickets" title="Ticket Manager" module="Bg_Freshdesk" sortOrder="20" parent="Bg_Freshdesk::tickets" action="freshdeskadmin/tickets" resource="Bg_Freshdesk::tickets_tickets"/>
        
        <add id="Bg_Freshdesk::tickets_goto" title="HH Media Freshdesk" module="Bg_Freshdesk" sortOrder="20" parent="Bg_Freshdesk::tickets" action="freshdeskadmin/tickets/gotofreshdesk" resource="Bg_Freshdesk::tickets_goto" />

        <add id="Bg_Freshdesk::settings" title="Settings" module="Bg_Freshdesk" sortOrder="20" parent="Bg_Freshdesk::tickets" action="adminhtml/system_config/edit/section/freshdesk_section" resource="Bg_Freshdesk::settings"/>
    </menu>
</config>