<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="freshdesk_tab" translate="label" sortOrder="1000">
            <label>Freshdesk</label>
        </tab>
        <section id="freshdesk_section" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Settings</label>
            <tab>freshdesk_tab</tab>
            <resource>Bg_Freshdesk::config</resource>
            <group id="account" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Account</label>

<field id="text_domainname" translate="label" type="text" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Freshdesk domain</label>
                    <validate>validate-clean-url validate-no-empty</validate>
                   
                </field>
<field id="text_email" translate="label" type="text" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Admin Email</label>
                    <validate>validate-email validate-no-empty</validate>
                    
<comment><![CDATA[Agent should have admin permissions in Freshdesk to access all ticket information]]></comment>

                </field>
<field id="text_api" translate="label" type="text" sortOrder="13" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Admin API Key</label>
<comment><![CDATA[To get your token, inside Freshdesk portal, click profile settings and copy "Your API key"]]></comment>
<validate>validate-no-empty</validate>

                </field>

               

            </group>

<group id="orderid" translate="label" type="text" sortOrder="14" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Order Id Linking</label>
<field id="text_orderid" translate="label" type="text" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Magento Order Id Linked to</label>

<comment><![CDATA[Obtain your custom field name (Agent Label) in Freshdesk that you want to correspond with your Magento order id and paste it here<br> If you haven't created an Order field yet, go to Freshdesk Ticket Fields to create one]]></comment>

                </field>
</group>

<group id="channel" translate="label" type="text" sortOrder="16" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Channels</label>
 <field id="dropdown_contact" translate="label" type="select" sortOrder="17" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Contact Us form</label>
                    <source_model>Bg\Freshdesk\Model\Config\Source\Contact</source_model>
<comment><![CDATA[Enabling this will automatically create a ticket when a form is submitted]]></comment>

                </field>
 <field id="dropdown_feedback" translate="label" type="select" sortOrder="18" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Feedback Widget Option</label>
                    <source_model>Bg\Freshdesk\Model\Config\Source\Feedback</source_model>

                </field>
<field id="textarea_widget" translate="label" type="textarea" sortOrder="19" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Widget Script</label>
                    <validate>validate-no-empty</validate>
<depends>
                        <field id="*/*/dropdown_feedback">1</field>
                    </depends>
<comment><![CDATA[Code will be pasted to all your store pages. To customize your feedback widget, go to Freshdesk Feedback Widget and paste the final code above]]></comment>
                </field>
 <field id="dropdown_support" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Support Link in Magento Footer</label>
                    <source_model>Bg\Freshdesk\Model\Config\Source\Support</source_model>
<comment><![CDATA[This link will take users to your freshdesk support portal]]></comment>

                </field>

</group>

<group id="customer" translate="label" type="text" sortOrder="21" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Customer View</label>
 <field id="dropdown_ticket" translate="label" type="select" sortOrder="22" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Ticket View for Customer</label>
                    <source_model>Bg\Freshdesk\Model\Config\Source\Customers</source_model>

                </field>
 <field id="dropdown_recent" translate="label" type="select" sortOrder="23" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Recent Ticket in Account Dashboard</label>
<depends>
                        <field id="*/*/dropdown_ticket">1</field>
                    </depends>
                    <source_model>Bg\Freshdesk\Model\Config\Source\Dashboard</source_model>
                </field>


</group>

<group id="ssogroup" translate="label" type="text" sortOrder="24" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>SSO</label>
                
                
 
<field id="dropdown_sso" translate="label" type="select" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Single Sign On (SSO)</label>
<depends>
                        <field id="*/customer/dropdown_ticket">1</field>
                    </depends>
                    <source_model>Bg\Freshdesk\Model\Config\Source\Sso</source_model>
                </field>

<field id="text_ssokey" translate="label" type="text" sortOrder="26" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>SSO Secret</label>
<depends>
                        <field id="*/*/dropdown_sso">1</field>
                    </depends>
                    <validate>validate-no-empty</validate>


                </field>
                
                <field id="text_ssoacceptableurl" translate="label" type="text" sortOrder="28" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>SSO Acceptable URLs</label>
<depends>
                        <field id="*/*/dropdown_sso">1</field>
                    </depends>
                    <validate>validate-no-empty</validate>


                </field>
                
                
                <field id="text_ssologout" translate="label" sortOrder="29" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label></label>
					<depends>
                        <field id="*/*/dropdown_sso">1</field>
                    </depends>
                    <validate>validate-no-empty</validate>
                    
                     <comment> Paste the URL into your Freshdesk SSO URLs for the process to be complete </comment>
                 	 <frontend_model>Bg\Freshdesk\Block\Adminhtml\System\Config\Implementcode</frontend_model>

                </field>      
               
                
                
                

</group>

        </section>
    </system>
</config>
