<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <lookbookslider>
            <general>
                <allowed_extensions>jpg,gif,png</allowed_extensions>
                <max_upload_filesize>16000</max_upload_filesize>
            </general>
        </lookbookslider>
    </default>
</config>