<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Hhmedia_Adminhtml::admin">
                <resource id="Hhmedia_Collection::collection" title="Collection" sortOrder="40">
                    <resource id="Hhmedia_Collection::manage" title="Collection Module" sortOrder="10">
						<resource id="Hhmedia_Collection::save" title="Save Collection" sortOrder="10" />
                        <resource id="Hhmedia_Collection::news_delete" title="Delete Collection" sortOrder="20" />
					</resource>
                </resource>
                <resource id="Hhmedia_Adminhtml::stores">
                    <resource id="Hhmedia_Adminhtml::stores_settings">
                        <resource id="Hhmedia_Adminhtml::config">
                            <resource id="Hhmedia_Collection::config_collection" title="Collection Section" sortOrder="50" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
