<?xml version="1.0"?>
<!--
/**
 * @category   RebelShipper
 * @package    RebelShipper_CanadaPost
 * @author     iam@rebelshipper.com
 * @website    http://www.rebelshipper.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <rebelshipper_canadapost>
            <rscanadapost>
            </rscanadapost>
        </rebelshipper_canadapost>

        <carriers>
            <rscanadapost>
                <active>0</active>
                <debug>0</debug>
                <sallowspecific>0</sallowspecific>
                <model>RebelShipper\CanadaPost\Model\Carrier\CanadaPost</model>
                <title>CanadaPost</title>
                <handling_fee>0</handling_fee>
                <specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
                <widthattribute>package_width</widthattribute>
                <defaultwidth></defaultwidth>
                <lengthattribute>package_length</lengthattribute>
                <defaultlength></defaultlength>
                <heightattribute>package_height</heightattribute>
                <defaultheight></defaultheight>
                <locale_choose>en</locale_choose>
                <convert_size>1</convert_size>
            </rscanadapost>
        </carriers>
    </default>
</config>
