<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
        <add id="Kahanit_AweMenu::kahanit_awemenuindex"
             title="Menu Navigation" module="Kahanit_AweMenu"
             parent="Hhmedia_Editor::editor"
             sortOrder="70"
             dependsOnModule="Kahanit_AweMenu"
             action="awemenu/index/index"
             resource="Kahanit_AweMenu::awemenu"/>
    </menu>
</config>
