.search-autocomplete ul {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
.search-autocomplete ul.pull-right {
  right: 0;
  left: auto;
}
.search-autocomplete ul .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.search-autocomplete ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333;
  white-space: nowrap;
}
.search-autocomplete ul > li > a:hover,
.search-autocomplete ul > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}
.search-autocomplete ul > .active > a,
.search-autocomplete ul > .active > a:hover,
.search-autocomplete ul > .active > a:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #337ab7;
}
.search-autocomplete ul > .disabled > a,
.search-autocomplete ul > .disabled > a:hover,
.search-autocomplete ul > .disabled > a:focus {
  color: #777777;
}
.search-autocomplete ul > .disabled > a:hover,
.search-autocomplete ul > .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}
.open > .search-autocomplete ul {
  display: block;
}
.pull-right > .search-autocomplete ul {
  right: 0;
  left: auto;
}
.dropup .search-autocomplete ul,
.navbar-fixed-bottom .dropdown .search-autocomplete ul {
  top: auto;
  bottom: 100%;
  margin-bottom: 2px;
}
@media (min-width: 768px) {
  .navbar-right .search-autocomplete ul {
    left: auto;
    right: 0;
  }
}
.search-autocomplete ul li span.amount {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
  line-height: 1;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  background-color: #777777;
  border-radius: 10px;
}
.search-autocomplete ul li span.amount:empty {
  display: none;
}
.btn .search-autocomplete ul li span.amount {
  position: relative;
  top: -1px;
}
.btn-xs .search-autocomplete ul li span.amount,
.btn-group-xs > .btn .search-autocomplete ul li span.amount {
  top: 0;
  padding: 1px 5px;
}
a.search-autocomplete ul li span.amount:hover,
a.search-autocomplete ul li span.amount:focus {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.list-group-item.active > .search-autocomplete ul li span.amount,
.nav-pills > .active > a > .search-autocomplete ul li span.amount {
  color: #337ab7;
  background-color: #ffffff;
}
.list-group-item > .search-autocomplete ul li span.amount {
  float: right;
}
.list-group-item > .search-autocomplete ul li span.amount + .search-autocomplete ul li span.amount {
  margin-right: 5px;
}
.nav-pills > li > a > .search-autocomplete ul li span.amount {
  margin-left: 3px;
}
.showcart .empty.badge,
.showcart .empty.search-autocomplete ul li span.amount {
  display: none;
}
.showcart .counter-label {
  display: none;
}
.minicart-panel .panel {
  position: absolute;
  top: 53px;
  right: 0;
  width: 300px;
}
.minicart-panel .panel .panel-heading .close-btn-link {
  position: relative;
  top: -3px;
}
.minicart-panel .panel .panel-heading .badge.empty,
.minicart-panel .panel .panel-heading .search-autocomplete ul li span.amount.empty {
  display: none;
}
.alert-notice {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
}
.alert-notice hr {
  border-top-color: #a6e1ec;
}
.alert-notice .alert-link {
  color: #245269;
}
.alert-error {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}
.alert-error hr {
  border-top-color: #e4b9c0;
}
.alert-error .alert-link {
  color: #843534;
}
.search-autocomplete ul {
  display: block;
}
.search-autocomplete ul li span.amount {
  position: absolute;
  right: 20px;
  top: 10px;
}
.toolbar-products .pages {
  display: none;
}
.products.wrapper ~ .toolbar-products .pages {
  display: block;
}
.page-products .toolbar .limiter {
  display: none;
}
.products.wrapper ~ .toolbar .limiter {
  display: block;
}
.products.wrapper ~ .toolbar .modes {
  display: none;
}
.products.wrapper ~ .toolbar .sorter {
  display: none;
}
