<?xml version="1.0"?>
<!--
/**
 * @category   RebelShipper
 * @package    RebelShipper_CanadaPost
 * @author     iam@rebelshipper.com
 * @website    http://www.rebelshipper.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>

        <tab id="rebelshipper" translate="label" sortOrder="200">
            <label>Rebel Shipper</label>
        </tab>
        <section id="rebelshipper_canadapost"  showInDefault="1">
            <tab>rebelshipper</tab>
            <label>CanadaPost 2</label>
            <resource>Magento_Config::config</resource>
            <group id="rscanadapost"  showInDefault="1">
                <label>General Settings</label>
                <field id="version" translate="label" type="label" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Version</label>
                    <frontend_model>RebelShipper\CanadaPost\Block\System\Config\Form\Field\Version</frontend_model>
                </field>
            </group>
        </section>
        <section id="carriers" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
            <group id="rscanadapost" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>CanadaPost</label>
                
                <field id="general_label" translate="label" type="label" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>&lt;b>General&lt;/b></label>
                </field>
                <field id="version" translate="label" type="label" sortOrder="5" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Version</label>
                    <frontend_model>RebelShipper\CanadaPost\Block\System\Config\Form\Field\Version</frontend_model>
                </field>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sort Order</label>
                </field>
                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
                <field id="showmethod" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Show Method if Not Applicable</label>
                    <frontend_class>shipping-skip-hide</frontend_class>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="locale_choose" translate="label" type="select" sortOrder="35" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Choose locale</label>
                    <source_model>RebelShipper\CanadaPost\Model\Config\Source\LocaleConversion</source_model>
                </field>

                <field id="account_label" translate="label" type="label" sortOrder="39" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label><![CDATA[<b>Account</b>]]></label>
		                <comment><![CDATA[<span style="position:relative;background-color:white;left:-10px;display:inline-block"><br />

		                </span>]]></comment>
                </field>
                <field id="ccpnumber" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Customer Number</label>
                </field>
                <field id="developmentusername" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>API Development Username</label>
                </field>
                <field id="developmentpassword" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>API Development Password</label>
                </field>
                <field id="productionusername" translate="label" type="text" sortOrder="63" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>API Production Username</label>
                </field>
                <field id="productionpassword" translate="label" type="text" sortOrder="66" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>API Production Password</label>
                </field>
                <field id="contract_id" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Contract (Agreement) Number</label>
							              <comment>Omit for non-contract rates or provide the contract number for commercial (contracted) rates.
							(numeric – up to 10 digits) </comment>
                </field>
                <field id="productionmode" translate="label" type="select" sortOrder="72" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Production Mode</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="max_items_to_quote" translate="label" type="text" sortOrder="74" showInDefault="1" showInWebsite="1" showInStore="1">
		              <label>Max items to quote on</label>
		              <comment>If the total items in the cart exceeds this amount then no quote will be returned using this shipping method, leave empty for no max</comment>
                </field>

                <field id="shipping_label" translate="label" type="label" sortOrder="79" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label><![CDATA[<b>Shipping</b>]]></label>
                            <comment><![CDATA[<span style="position:relative;background-color:white;left:-10px;display:inline-block"><br /></span>]]></comment>
                </field>
                <field id="shippingcontainers" translate="label" type="textarea" sortOrder="82" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Shipping Containers</label>
		                <comment><![CDATA[
		                  Enter in shipping containers {max weight in box}kg{length}x{width}x{height}x{box weight}kg${cost} comma
		                  delimited each group like :<br />
		                  0.5kg40x50x12x1kg$2.00,<br />
		                  1.08kg400x500x120x.1kg$2.00,<br />

		                ]]></comment>
                </field>
                <field id="dimensional_group_data" translate="label" type="textarea" sortOrder="84" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Dimensional attribute data</label>
                <comment><![CDATA[
                  Enter in the attribute to check and possible dimensional data like the following :<br />
                  {<br />
                    "mysize-attribute":{<br />
                        "10ml":"10x12x12",<br />
                        "20ml":"10x12x18",<br />
                        "120ml":"40x22x18"<br />
                    }<br />
                   }<br />
                  <br />
                  Multiple "mysize attribute" values are allowed, dimensional data should will be converted according to size multiplier,
                  it does not matter the order of the dimensional data. just that each measurement is seperated by an x

                ]]></comment>
                </field>
                <field id="shipping_insurance" translate="label" type="select" sortOrder="86" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Shipping Insurance</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="allowed_methods" translate="label" type="multiselect" sortOrder="88" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Allowed Methods</label>
                            <source_model>RebelShipper\CanadaPost\Model\Config\Source\ShipmentTypes</source_model>
                </field>
                <field id="free_method" translate="label" type="select" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Free Shipping Service</label>
                            <source_model>RebelShipper\CanadaPost\Model\Config\Source\ShipmentTypes</source_model>
                </field>
                <!-- 
                <field id="free_shipping_with_customer_group" translate="label" type="textarea" sortOrder="95" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Free shipping options for customer group (country,subdivision:groupa,groupb,groupc:$minamount)</label>
                </field>
                -->
                <field id="free_shipping_enable" translate="label" type="select" sortOrder="95" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Free shipping with minimum order amount</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="free_shipping_subtotal" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Minimum Order for Free Shipping</label>
                            <comment><![CDATA[Sets the minimum order subtotal for free shipping. Leave blank to disable free shipping]]></comment>
                </field>
                <field id="ship_as_bundled" translate="label" type="select" sortOrder="105" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Ship as bundled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
			              <comment>Set to yes if bundled items contain size and weight information for shipping</comment>
                </field>
                <field id="minimum_shipping_cost" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Minimum Shipping Cost</label>
                            <comment><![CDATA[Sets a minimum shipping cost inclusive of handling & markup.]]></comment>
                </field>
                <field id="contentdesc" translate="label" type="text" sortOrder="112" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Package Description</label>
                </field>
                <field id="sallowspecific" translate="label" type="select" sortOrder="114" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Ship to Applicable Countries</label>
                    <frontend_class>shipping-applicable-country</frontend_class>
                    <source_model>Magento\Shipping\Model\Config\Source\Allspecificcountries</source_model>
                </field>
                <field id="specificcountry" translate="label" type="multiselect" sortOrder="116" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Ship to Specific Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>

                <field id="weight_label" translate="label" type="label" sortOrder="149" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label><![CDATA[<b>Weight Dimensions</b>]]></label>
                            <comment><![CDATA[<span style="position:relative;background-color:white;left:-10px;display:inline-block"><br /></span>]]></comment>
                </field>
                <field id="convert_weight" translate="label" type="select" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Weight Units</label>
                            <comment><![CDATA[Specifies unit of measurement for product weights.]]></comment>
                            <source_model>RebelShipper\CanadaPost\Model\Config\Source\WeightConversion</source_model>
                </field>
                <field id="convert_size" translate="label" type="select" sortOrder="155" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Linear Units</label>
                            <comment>Specifies unit of measurement (inch or cm) for product dimensions</comment>
                            <source_model>RebelShipper\CanadaPost\Model\Config\Source\DimensionConversion</source_model>
                </field>

                <field id="linear_label" translate="label" type="label" sortOrder="157" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label><![CDATA[<b>Linear Dimensions</b>]]></label>
                            <comment><![CDATA[<span style="position:relative;background-color:white;left:-10px;display:inline-block"><br /></span>]]></comment>
                </field>
                <field id="widthattribute" translate="label" type="text" sortOrder="173" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Width Attribute</label>
                </field>
                <field id="defaultwidth" translate="label" type="text" sortOrder="174" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Default Width (if width attribute is empty)</label>
                </field>
                <field id="heightattribute" translate="label" type="text" sortOrder="175" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Height Attribute</label>
                </field>
                <field id="defaultheight" translate="label" type="text" sortOrder="176" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Default Height (if height attribute is empty)</label>
                </field>
                <field id="lengthattribute" translate="label" type="text" sortOrder="177" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Length Attribute</label>
                </field>
                <field id="defaultlength" translate="label" type="text" sortOrder="178" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Default Length (if length attribute is empty)</label>
                </field>

                <field id="handling_label" translate="label" type="label" sortOrder="119" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label><![CDATA[<b>Handling</b>]]></label>
                            <comment><![CDATA[<span style="position:relative;background-color:white;left:-10px;display:inline-block"><br /></span>]]></comment>
                </field>
                <field id="handling_type" translate="label" type="select" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Calculate Handling Fee</label>
                    <source_model>Magento\Shipping\Model\Source\HandlingType</source_model>
                </field>
                <field id="handling_action" translate="label" type="select" sortOrder="122" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Handling Applied</label>
                    <source_model>Magento\Shipping\Model\Source\HandlingAction</source_model>
                </field>
                <field id="handling_fee" translate="label" type="text" sortOrder="124" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Handling Fee</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                    <comment><![CDATA[Adds a fixed amount to the shipping cost.]]></comment>
                </field>
                <field id="days_for_handling" translate="label" type="text" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Days for Handling</label>
                            <comment><![CDATA[Specifies how many days required prior to shipment.]]></comment>
                </field>

                <field id="developer_label" translate="label" type="label" sortOrder="209" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label><![CDATA[<b>Developer</b>]]></label>
                            <comment><![CDATA[<span style="position:relative;background-color:white;left:-10px;display:inline-block"><br />
                            </span>]]></comment>
                </field>
                <field id="developer_mode" translate="label" type="select" sortOrder="210" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Developer Mode</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="json_description" translate="label" type="select" sortOrder="220" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Store Json Request</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="debug" translate="label" type="select" sortOrder="230" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Debug Mode</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="specificerrmsg" translate="label" type="textarea" sortOrder="240" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Displayed Error Message</label>
                </field>

                
                
                
                
                <!-- 
                <field id="price" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Shipping Cost</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
                -->
            </group>
        </section>


    </system>
</config>
