@font-face {
	font-family: 'DietDidot-BoldItalic';
	src: 	url('../fonts/dietdidot.eot');
	src: 	url('../fonts/dietdidot.eot?#iefix') format('embedded-opentype'),
				url('../fonts/dietdidot.woff2') format('woff2'),
				url('../fonts/dietdidot.woff') format('woff'),
				url('../fonts/dietdidot.ttf') format('truetype');
}

@font-face {
	font-family: 'Montserrat-Light';
	src: 	url('../fonts/Montserrat-Light.eot');
	src: 	url('../fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
				url('../fonts/Montserrat-Light.woff') format('woff'),
				url('../fonts/Montserrat-Light.ttf') format('truetype');
}