@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');


@black: #000;

@baseFont     : 'Montserrat-Light', Helvetica, Arial, sans-serif;
@headlineFont : 'Montserrat', Helvetica, Arial, sans-serif;
@fancyFont    : 'DietDidot-BoldItalic';
@baseFontSize : 12px;
@baseLineHeight: 20px;


/* ==========================================================================
HTML5 display-role reset for older browsers
========================================================================== */
html {font-family: sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0;
font-size: 100%; font-family: inherit;  vertical-align: baseline; zoom: 1;}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;}
table { border-collapse: collapse; border-spacing: 0;}
* {box-sizing: border-box; -o-box-sizing: border-box; -ms-box-sizing: border-box; -moz-box-sizing: border-box; -khtml-box-sizing: border-box; -webkit-box-sizing: border-box;}

/* ==========================================================================
Basic CSS
========================================================================== */
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-family: @baseFont;
  font-size: @baseFontSize;
  line-height: @baseLineHeight;
}

a,
button {
  transition: all 150ms ease-in;
  color: #000;
}

a:hover, a:focus,
a:visited, alink:visited {
  text-decoration: none;
  color: #1a1a1a;
  outline: none;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

ul > li,
ol > li {
  margin: 0;
}

::-moz-selection {
  text-shadow: none;
  background: #4D82B9 ;
  color: #FFF;
}
::selection {
  text-shadow: none;
  background: #4D82B9;
  color: #FFF;
}

p {
  margin-bottom: 20px;
}

strong {
  font-weight: 700!important;
}

body {
  webkit-tap-highlight-color: rgba(255,255,255,.2);
}

h1, h2, h3, h4, h5, h6 {
  font-family: @headlineFont;
  font-weight: 700;
  margin-bottom: 10px;
}

h4 {
  font-size: 14px;
}


/* ==========================================================================
Forms
========================================================================== */
input[type="text"], input[type="password"], input[type="url"], input[type="tel"], input[type="search"], input[type="number"], input[type="datetime"], input[type="email"], form {
  width: auto;
  font-family: @headlineFont;
}

.label {
  font-size: 13px;
  text-transform: uppercase;
}

/* ==========================================================================
Classes
========================================================================== */
.vcenter {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
}

.border-left {
  border-left: 1px solid #000;
}

.bg-grey {
  background-color: #e6e6e7;
}

.text-right {
  text-align: right;
}

.margin20 {
  margin: 20px auto;
}
.margin40 {
  margin: 40px auto;
}

.marginbottom-30 {
  margin-bottom: 30px;
}

.hidden {
  display: none;
}


/* ==========================================================================
buttons
========================================================================== */
.btn-main {
  background-color: #000;
  color: #FFF;
  border-radius: 0;
  font-family: @fancyFont;
  font-size: 14px;
  line-height: normal;
  padding: 12px 25px;

  i {
    margin-right: 10px;
  }
}

.btn-main:hover {
  background-color: #1a1a1a;
  color: #FFF;
}

.btn-main:focus, .btn-main:active:focus, .btn-main.active:focus, .btn-main.focus, .btn-main.focus:active, .btn-main.active.focus, .btn-main:visited {
  color: #FFF;
}

.btn-cart-single {
  margin-top: 20px;

  i {
    margin-right: 10px;
  }
}

/* ==========================================================================
Header
========================================================================== */
.header-search {

  .block-search {
    position: relative;
  }

  button {
    position: absolute;
    left: 0;
    top: 2px;
    border: none;
    box-shadow: none;
    background: transparent;
  }
}

.header-top {
  background: url(../images/shop-keyline-logo.png) no-repeat bottom center;
  padding-top: 10px;
  position: relative;
  z-index: 2;
}

#search_mini_form {
  width: 100%;
  position: relative;
}

.search-input {
  border-radius: 20px!important;
  padding: 3px 10px!important;
  padding-left: 40px!important;
  background: url(../img/icon-search.png) no-repeat 10px 10px;
  border: 1px solid #cacaca;
  box-shadow: inset 0 1px 2px rgba(10,10,10,0.1);
  display: block;
  width: 100%!important;
  max-width: 250px;
}

/* ==========================================================================
Social
 ========================================================================== */
.social{
  margin: 0;

  li {
    display: inline-block;

    i {
      font-size: 16px;
      color: #fff;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      line-height: 30px;
      display: block;
      text-align: center;
      transition: all 0.2s ease-out;
      background: #707070;
    }
  }
  .icon{
    background: #707070;
  }
  .ion-social-twitter-outline:hover {
    background: #00aced;
  }
  .ion-social-facebook:hover {
    background: #3b5998;
  }
  .ion-social-instagram-outline:hover {
    background: #517fa4;
  }
  .ion-social-pinterest-outline:hover {
    background: #cb2027;
  }
}

/* ==========================================================================
Main Navigation
 ========================================================================== */
.navbar-default {
  background-color: transparent;
  border: none;
}
.navbar-nav > li > a {
  padding: 0;
  padding: 25px 0;
  line-height: normal;
  color: #000;
}
.main-nav {
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  margin-bottom: 40px;
  border-top: 2px solid #ccc;
  margin-top: -2px;
  position: relative;
  z-index: 1;
}
.main-nav a {
  display: block;
  font: normal 12px/12px 'Montserrat', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: #8d8d8d;
  padding: 25px 0;
}

.customer-name {
  color: #000;
  font-weight: bold;
}

/* ==========================================================================
Buttons
 ========================================================================== */
.action.primary {
  background: #000;
  border: 1px solid #000;
  text-transform: uppercase;
}

.bundle-actions .action.primary, .bundle-options-container .block-bundle-summary .box-tocart .action.primary, .product-info-main .box-tocart .action.tocart, .product-options-bottom .box-tocart .action.tocart, .cart-container .checkout-methods-items .action.primary, .block-minicart .block-content > .actions > .primary .action.primary, .methods-shipping .actions-toolbar .action.primary, .block-authentication .action.action-register, .block-authentication .action.action-login, .checkout-payment-method .payment-method-content > .actions-toolbar > .primary .action.primary, .form-address-edit .actions-toolbar .action.primary, .multicheckout .action.primary {
  line-height: normal;
  padding: 10px 30px;
  font-size: 14px;
  font-family: 'Montserrat','Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: normal;
}

/* ==========================================================================
Content
 ========================================================================== */
.main-content {

}

.list-inline {
  margin: 0;
}

.header.content {
  padding: 0;
}

.navigation, .breadcrumbs, .page-header .header.panel, .header.content, .footer.content, .page-wrapper > .widget, .page-wrapper > .page-bottom, .block.category.event, .top-container, .page-main {
  padding: 0;
  max-width: inherit;
}

.page-wrapper {
  min-height: auto!important;
}

.minicart-wrapper .action.showcart {
  padding: 0!important;
  margin-top: 14px;
}

.columns .column.main {
  padding-bottom: 0;
}

/* ==========================================================================
Reviews
 ========================================================================== */
.review-body {
  border-top: 1px solid #e6e6e7;
  border-bottom: 1px solid #e6e6e7;
  padding-top: 20px;
}

.review-toolbar {
  margin: 0!important;
  border: none!important;
}

.review-ratings {
  float: none;
  margin: 0;
  max-width: auto;
}
.review-author {
  font-weight: bold;
}

.review-content {
  margin-top: 20px;
  text-align: justify;
}

/* ==========================================================================
Page Title
 ========================================================================== */
.page-title {
  background: url(../images/shop-keyline-faded-center.png) no-repeat center;
  font: 300 40px/40px 'DietDidot-BoldItalic', Helvetica, Arial, sans-serif;
  text-transform: none;
  display: inline;
  margin-top: 0;
  display: block;
  text-align: center;
  margin-bottom: 5px;

  span {
    background: #FFF;
    padding: 0 30px;
  }
}


/* ==========================================================================
Breadcrumb
 ========================================================================== */
.breadcrumb {
  padding: 5px 0;
  margin: 0;
  background-color: transparent;
  border-radius: 0;
  text-align: center;
  font-family: @headlineFont;
  text-transform: uppercase;
  font-size: 11px;
  margin-bottom: 30px;

  li {
    color: #8d8d8d;

    a {
      text-decoration: underline;
      color: #8d8d8d;
    }
    strong {
      font-weight: normal;
    }
  }
  li.item.home a {
    color: #000!important;
  }
}


.breadcrumb li.item.home {
  color: #000;
}


/* ==========================================================================
Product Description
 ========================================================================== */
.description {
  p {
    text-align: justify;
    margin-bottom: 10px;

    strong {
      font-weight: bold;
      font-size: 16px;
    }
  }

  ul {
    margin-bottom: 20px;
    margin-left: 20px;
  }

  li {
    position: relative;
    list-style-type: circle;
  }
}

.product-item-name, .product.name a {
  font-family: @headlineFont;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
}


/* ==========================================================================
Products
 ========================================================================== */
.product-item .price-box .price {
  font-size: 13px!important;
}

.product-item-details {
  text-align: center!important;
}
.product-info-main .price-box .price-wrapper .price, .product-options-bottom .price-box .price-wrapper .price {
  font-family: @headlineFont;
  font-size: 18px;
}

.product-info-price {
  padding: 10px 0;
  border-bottom: 1px solid #DDD;
  margin-bottom: 20px;

  .price-box {
    display: inline-block;
    width: 70%;
  }
  .product-social-links {
    display: inline-block;
    text-align: right;
    width: 30%;
  }
}

.product-qty {

  label,
  input{
    display: inline-block;
  }

  .qty {
    background-color: #f0f0f0;
    display: inline-block;
    text-align: center;
    border-radius: 3px;
    padding: 0;
    height: auto;
    padding: 5px 10px;
    width: 45px;
  }
}

.product-info-main {
  .name .value {
    text-transform: uppercase;
    font-size: 36px;
    font-family: @headlineFont;
    font-weight: 700;
  }
}

.product-info-main .product-addto-links, .product-options-bottom .product-addto-links {
  margin: 0;
}

.product-info-main .special-price, .product-options-bottom .special-price {
  display: inline-block;
}

.product-info-main .price-box .weee {
  font-family: @headlineFont;
  font-weight: normal;
  font-size: 14px;
}

.old-price, .old.price {
  margin-left: 10px;
}

.old-price span {
  color: #666;
  position: relative;
}

.old-price .product-info-main .price-box .weee .price {
  font-size: 14px!important;
}
.old-price span.price-label:before {
  content: '(';
}

.old-price span.price-wrapper:after {
  content: ')';
}

/* ==========================================================================
Products Tabs
========================================================================== */
.product.data.items {
  margin-top: 20px;
}
.product.data.items > .item.title {
  margin: 0;
}

.product.data.items > .item.title > .switch {
  line-height: normal!important;
  font-size: 12px!important;
  color: #8d8d8d!important;
  text-decoration: none;
  background-color: transparent!important;
  background: none!important;
  border-bottom: none;
  height: auto!important;
  padding: 10px 30px!important;
  border: none!important;
  text-transform: uppercase;
}

.product.data.items > .item.content {
  margin-top: 35px!important;
}

.description {
  text-align: justify;
}

.product.data.items > .item.title.active > .switch, .product.data.items > .item.title.active > .switch:focus, .product.data.items > .item.title.active > .switch:hover {
  color: #000!important;
}

/* ==========================================================================
Products Buttons
========================================================================== */
.product-item-actions {
  text-align: center;

  li, a {
    display: inline-block;
    background-color: #666;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    color: #FFF;
    margin: 0 2px;
    transition: 0.3s all;

    &:hover {
      background-color: #000;
    }
  }

  button {
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    color: #FFF;
    font-size: 15px;
    font-weight: bold;
  }
}


.products.list.items .action.towishlist::before,
.table-comparison .action.towishlist::before {
  color: #FFF;
}

.product-item-details {
  .price-container {
    display: block;
    padding: 10px 0;

    .price {
      font-size: 12px;
      font-family: @headlineFont;
    }
  }
}


/* ==========================================================================
Messages
 ========================================================================== */
.message.info {
  font-size: 13px!important;
}

/* ==========================================================================
Sidebar
 ========================================================================== */
.sidebar {
  padding: 20px;
  margin-bottom: 40px;
}

/* ==========================================================================
Forms
 ========================================================================== */
.label {
  color: #000;
}
input[type="text"], input[type="password"], input[type="url"], input[type="tel"], input[type="search"], input[type="number"], input[type="datetime"], input[type="email"] {
  font-family: 'Montserrat'!important;
  font-size: 12px!important;
  font-weight: normal!important;
}
.fieldset > .legend {
  font-size: 14px;
  margin: 0!important;
  float: none;
}

.fieldset > .field:not(.choice) > .label {
  padding-right: 20px!important;
  padding-top: 5px!important;
}

/* ==========================================================================
Sidebar Filter
 ========================================================================== */
.filter-options .filter-options-title {
  font-size: 13px!important;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Montserrat" !important;
  position: relative;
  padding-left: 20px;
  margin-bottom: 15px;
  padding-top: 15px;
  border-top: 1px solid rgba(0,0,0,0.1);
}

.filter-options .filter-options-title:before {
  display: inline-block;
  font-family: "Ionicons";
  position: absolute;
  left: 0;
  content: '\f35f';
  margin-top: -1px;
  font-size: 16px;
}

.filter-options .filter-options-content .item {
  margin-bottom: 8px;
  font-size: 11px;
}

.filter-options .filter-options-content .item .badge {
  background-color: #000;
  font-size: 7px;
  height: 15px;
  width: 15px;
  line-height: 15px;
  text-align: center;
  float: right;
  padding: 0;
}

/* ==========================================================================
Newsletter
 ========================================================================== */
.form-inline .input-group {
  width: 100%!important;
}

.action.primary {
  font-family: "Montserrat", Open Sans!important;
  font-size: 13px!important;
  padding: 10px 35px!important;
}

div.mage-error[generated] {
  color: #e02b27;
  font-size: 12px;
  margin-top: 0;
}

.input-group-addon {
  display: inline-block;
}

.form-inline .input-group > .form-control {
  width: auto;
}
.btn-subscribe {
  border-radius: 0;
  padding: 9px 15px;
  font-size: 12px;
  background: #000;
  border-color: #000;
}
.newsletter-input {
  width: auto;
  min-width: 200px;
}

/* ==========================================================================
Gallery
 ========================================================================== */
.fotorama__stage__shaft {
  border: 1px solid #DDD;
}

/* ==========================================================================
Footer
========================================================================== */
.page-footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background: #e6e6e7;
  font: normal 11px/11px 'Montserrat', Helvetica, Arial, sans-serif;
}

.footer-links li {
  display: block;
  padding: 6px 0;
  list-style: none;
}

.footer-links ul {
  padding-left: 10px;
}

div.mage-error[generated] {
  font-size: 14px;
}

/* ==========================================================================
Flexbox - Rows
========================================================================== */
.row.is-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.is-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.row.is-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.row.is-flex > [class*='col-'] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

/* ==========================================================================
No margin hack
========================================================================== */
.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

/* ==========================================================================
CSS Overwrites (Blank Theme)
========================================================================== */
.header.content {
  padding: 0!important;
}

.navigation, .breadcrumbs, .page-header .header.panel, .header.content, .footer.content, .page-wrapper > .widget, .page-wrapper > .page-bottom, .block.category.event, .top-container, .page-main {
  padding: 0!important;
  max-width: inherit!important;
}

.page-layout-1column .product-info-main, .page-layout-1column .product.media {
  float: none!important;
  width: 100%!important;
}

.single-product-wishlist {
  display: inline-block;
  background-color: #666;
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 50%;
  color: #FFF;
  margin: 0 2px;
  transition: 0.3s all;
  text-align: center;
  font-weight: bold;

  &:hover {
    background-color: #000;
  }
}

fieldset {
  letter-spacing: none!important;
}

.toolbar {
  padding: 0!important;
  margin: 0!important;
  margin-bottom: 10px!important;
}

.swatch-option.text,
.swatch-option {
  font-size: 10px!important;
  height: 25px!important;
  width: 25px!important;
  line-height: 25px!important;
  margin-right: 5px!important;
  padding: 0!important;
  min-width: auto!important;
}


.product-item-listing:nth-child(n+4) {
  clear: both;
}

.label {
  padding: 0!important;
}

.abs-margin-for-forms-desktop, .fieldset .legend, .column:not(.sidebar-main) form .actions-toolbar, .column:not(.sidebar-additional) form .actions-toolbar, .login-container .fieldset:after {
  margin: 0!important;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  line-height: inherit;
}
.product-info-main .special-price .price-container, .product-options-bottom .special-price .price-container {
  font-size: inherit;
}

.product-info-main .old-price .price-label:after, .product-options-bottom .old-price .price-label:after, .product-info-main .special-price .price-label:after, .product-options-bottom .special-price .price-label:after {
  content: '';
}

/* ==========================================================================
Dashboard Fixes
 ========================================================================== */
.block-dashboard-info,
.block-dashboard-addresses {
  .box-title {
    font-family: @headlineFont;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 15px;
    margin: 10px 0;
    display: block;
  }
  a {
    color: #848484;
    text-decoration: underline;
  }
}
.block-main-title {
  margin-bottom: 20px;
  font-size: 22px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e6e6e7;

  a {
    font-size: 13px;
    margin-left: 10px;
  }
}
.login-container {
  margin-top: 40px;
}

.login-container .block .block-title {
    font-size: 20px;
    font-family: @headlineFont;
    font-weight: bold;
    text-transform: uppercase;
}

.login-container .block .block-title strong {
  font-weight: 700;
}

.login-container .fieldset:after {
  font-size: 13px;
}

.account-nav {
  .content {
    background-color: transparent;
  }
  .item {
    margin: 0;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: @headlineFont;
    padding: 10px 0;
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }
}

.block-reviews-dashboard {
  .product-name {
    font-family: @headlineFont;
    font-size: 14px;
  }
}

.account {
  .page-title-wrapper {
    margin-bottom: 40px;
  }

  .legend {
    font-size: 22px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e6e6e7;
  }
}

/* ==========================================================================
Icon Font
 ========================================================================== */
.mdi {
  font-size: 15px;
}

/* ==========================================================================
Quick View
 ========================================================================== */
.mfp-iframe-holder .mfp-close {
  height: 35px;
  width: 35px!important;
  display: block;
  border-radius: 50%;
  background-color: #FFF;
  color: #000;
  right: -40px!important;
  line-height: 35px;
}

.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
  padding: 0;
}

/* ==========================================================================
Media Queries
 ========================================================================== */
/* ------ Tablet Portrait size to standard 960 (devices and browsers) ------*/
@media only screen and (max-width: 959px) {

}


/* ------ Mobile Landscape Size to Tablet Portrait (devices and browsers) ------*/
@media only screen and (max-width: 767px) {

}

/* ------ Mobile Portrait Size to Mobile Landscape Size (devices and browsers) ------*/
@media only screen and (max-width: 479px) {

}

.primary-cart-btn, .weltpixel_quickview_button_v2 {
  display: inline-block;
  background-color: #666;
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 50%;
  color: #FFF;
  margin: 0 2px;
  transition: 0.3s all;
}

.wishlist-btn {
  display: inline-block;
}


.abs-actions-addto-gridlist:before, .product-item-actions .actions-secondary > .action:before, .table-comparison .wishlist.split.button > .action.split:before, .product-items .wishlist.split.button > .action.split:before, .products.list.items .action.towishlist:before, .table-comparison .action.towishlist:before {
  margin-left: -4px;
}

.catalog-product-view {
  .stock {
    display: none;
  }
  .page-title-wrapper {
    margin-bottom: 60px;
  }
}

.add-to-cart, .view-full {
  display: inline-block;
}

.btn-view-full {
  border: 2px solid #000;
  border-radius: 0;
  color: #000;
  font-family: @fancyFont;
  font-size: 14px;
  line-height: normal;
  padding: 10px 25px;
  display: block;
  margin-bottom: 20px;
  margin-left: 30px;

  i {
    margin-right: 10px;
  }
}


.mfp-close {
  opacity: 1!important;
  color: #000!important;
  padding: 0!important;
  margin: 0!important;
  text-align: center!important;
}

.weltpixel-quickview-catalog-product-view {
  .main-content {
    margin-top: 50px;
  }
}

.page-products {
  .product-item-inner {
    display: inline-block;
  }
  
  .quickview-main-btn {
    display: inline-block;
    background-color: #666;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    color: #FFF;
    margin: 0 2px;
    transition: 0.3s all;
  }

  .toolbar-products .pages,
  .page-products .toolbar .limiter {
    display: block!important;
  }
}