@media (max-width: 1024px) {

	.display-block-xs {
		display: block;
	}
	.clearfix {
		clear: both;
	}
	.margintop-30sm {
		margin-top: 30px;
	}
	body {
		font-size: 16px;
	}

	p {
		font-size: 0.65em;
	}
	.cms-home {
		.item {
			padding: 0 30px;
		}
		.homeslider {
			.item {
				padding: 0;
			}
		}
		.home-slider {
			.homepage-hero-details {
				height: 300px;
				width: 300px;
				margin: 0;

				h4 {
					font-size: 28px;
					margin-top: 5px;
				}
				p {
					font-size: 13px;
					margin: 0;
				}
				.hero-details-title {
					font-size: 16px;

					strong {
						font-size: 22px;
					}
				}
			}
		}
		.formula_list_view, .magazine_list_view {
			.carousel-control.right {
				right: -3%;
			}
			.carousel-control.left {
				left: -3%;
			}
		}
	}
}