/* Kadis Changes - Will merge with main.less at a later date */


.product-info-main .product-options-wrapper .fieldset .color .swatch-attribute-selected-option{
	display: block;
}

.swatch-attribute-selected-option {
  padding-left: 0 !important;
	margin-bottom: 5px;
}

.swatch-attribute-label {
  font-weight: normal !important;
}

.single-product-cart .product-qty label{
	font-weight: normal;
}


.product-qty select {
  text-align: left;
}

.first-review{
	display:block;
	font: normal 14px/20px "Montserrat-Light",Helvetica,Arial,sans-serif;
	margin-bottom: 30px;
}




.upsell .product-item-details p{
	margin-bottom: 10px;
}

.catalog-product-view .product-shop-the-shot .shop-the-shot-hover {
	text-transform:capitalize;
	background-color: rgba(255, 255, 255, 0.80);
}

.catalog-product-view .product-shop-the-shot .shop-the-shot-hover:hover {
	background-color: rgba(255, 255, 255, 1.00);
}

.short-review,.full-review{
	font-size:14px;
}

.review-meta{
	font-size:12px;
}

.read-all-reviews a:hover{
	text-decoration:underline;
}

.catalog-product-view .product-editors-pick {
    right: 15px;
}

.catalog-product-view .product-editors-pick .product-editors-pick-details h5:hover {
	text-decoration:underline;
}



div.MagicToolboxSelectorsContainer {
	width:80%;
	margin:0 auto;
}

.addthis_toolbox a:hover{
	opacity: 0.5;
}

.product-addto-links a:hover{
	opacity: 0.5;
}

.weltpixel-quickview-catalog-product-view {
	.product-info-main .name .value {
    	font-size: 30px;
	}
	.viewfull-details {
    	margin-bottom: 25px;
    }
}



.weltpixel-quickview-catalog-product-view .add-to-cart {
    margin: 20px 0;
}

.review-field-ratings .label {
	font-size:14px !important;
}

.review-field-text label{
	font-weight:300 !important;
}

.btn-cart-single {
    margin: 20px auto !important;
}

.new-product{
	font-weight:300 !important;
}


/* ==========================================================================
Temp var
========================================================================== */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Droid+Serif:400,400i');

@baseFont     : 'Montserrat-Light', Helvetica, Arial, sans-serif;
@headlineFont : 'Montserrat', Helvetica, Arial, sans-serif;
@fancyFont    : 'Droid Serif', Georgia;
@dietDidot    : 'DietDidot-BoldItalic';
@baseFontSize : 13px;
@baseLineHeight: 20px;











/* ==========================================================================
Tablet - till 1024px
========================================================================== */
@media (max-width: 1024px) {
	.cms-home .homeslider {
		.vcenter-flex {
			display: block;
		}
		.homepage-hero, .mood-bg {
			width: 100%;
		}
		.mood-bg {
			background: none !important;
			margin-top: -100px;
		}
		.homepage-hero-details {
			background: #fff;
			width: 50%;
			height: 0;
			padding-bottom: 50%;
			.hero-details-title {
				border: 0;
				margin-top: 8%;
			}
			h4 {
				margin-top: 15px;
			}
			p {
				margin-right: -35%;
				margin-left: -35%;
			}
		}		
		.homepage-controls-container {
			margin-top: -15%;
			
			.col-md-4 {
				width: 100%;
				margin: 0;
			}
			.homepage-controls {
				width: 100%;
				.carousel-control {
					margin-top: -35%;
				}
				.carousel-control.left {
					left: 5%;
				}
				.carousel-control.right {
					right: 5%;
				}
			}
		}
		& + div {
			position: relative;
		}
	}
}





















/* ==========================================================================
All small devices - till 767px
========================================================================== */
@media (max-width: 767px) {
	body, html {
		font-size: 15px;
	}
	
	.page-title, .page-title-small {
		margin-top: 30px;
	}

	/* ===============================
	Classes
	=================================*/
	.display-block-xs {
		display: block!important;
	}
	.center {
		text-align: center;
	}
	.none {
		display: none;
	}
	.clear {
		clear: both;
	}
	.block-center {
		display: block;
		margin: 0 auto;
	}
	.quickview-bar,
	.quickview-bar2 {
		.none;
	}
	.page-title, .page-title-small {
		background-size: 100%;

		span {
			padding: 0 15px;
		}

		strong {
			font-size: 34px;
		}
	}
	.subtitle {
		margin: 0 auto;
    width: 90%;
    margin-bottom: 35px;
    margin-top: 10px;
	}

	/* ===============================
	Global
	=================================*/
	.cms-page-view, .faqs-index-index, .contact-index-index, .cms-privacy-policy, .cms-terms-conditions {
	  .inner-content {
	    padding-left: 0;
	  }
	  .page-title {
	    margin-bottom: 40px;
	  }
	}

	/* ===============================
	Header
	=================================*/


	/* ===============================
	Footer
	=================================*/
	.footer-col li strong {
		font-size: 1rem;
	}
	.page-footer {
		.border-left {
			margin-left: 0;
		}
	}
	.page-footer {
    .newsletter-footer {
      text-align: center;
    }
		.newsletter-footer-inner {
			text-align: center;

			button {
				float: none;
			}
		}
		.footer-social {
			.center;
			margin-bottom: 50px;
		}
		.footer-col.border-left {
			border-left: none;
			ul {
				border-left: 1px solid #000;
				padding-left: 20px;
			}
		}
		.footer-logo {
			.center;
		}
	}

	/* ===============================
	Carousel - Global
	=================================*/
	.carousel-control.right, .carousel-control.left {
		height: 50px;
    width: 30px;
    background-size: 90%;
	}

	/* ===============================
	Homepage
	=================================*/
	.cms-home {

		.homeslider {
			.homepage-hero {
				width: 100%;
			}
			.mood-bg {
				width: 100%;
				background: none!important;
			}
			.homepage-controls {
				top: 0;
			}
			.homepage-controls {
				bottom: 15px;
				width: 100px;
				height: 50px;

				.carousel-control.right, .carousel-control.left  {
					opacity: 1;
					margin-top: -400px;
				}
				.carousel-control.right {
			    right: -75%;
				}
				.carousel-control.left {
			    left: -75%;
				}
			}

			.carousel-indicators {
				li {
					background-color: #CCC;
					border-color: #CCC;
					margin-right: 5px;
				}
				.active {
					background-color: #000;
					border: none;
				}
			}
		}
		.home-slider {
		 	.homepage-hero-details {
				margin-top: -85px;
				background: #FFF;

				p {
					margin-right: -25%;
					margin-left: -25%;
				}
				h4 {
					margin-top: 30px;
				}
				.hero-details-title {
			    width: 85%;
			    margin: 0 auto;
			    margin-top: 60px;
				}

				.homepage-hero-btn {
					padding: 10px 15px;
					width: 80%;
				}

		 		.hero-details-inner {
					padding: 0;
				}

				.hero-details-title {
					margin-top: 45px;
				}

				.homepage-hero-btn {
					display: block;
				}
				.carousel-indicators .active {
					margin: 0;
					margin-right: 5px;
					width: 11px;
					height: 11px;
				}

				.carousel-control.right,
				.carousel-control.left {
					height: 70px;
					width: 35px;
					top: -400px;
					background-size: 80% 80%!important;
					opacity: 1;
				}
		 	}
		}

		.decorating-formula {
			padding-top: 40px;
			border-top: 1px solid #b2b2b2;

			.decorating-formula-product {
				margin-top: 0;
			}
			.formula_list_view {
				.decorating-formula-product:nth-of-type(3):before,
				.decorating-formula-product:nth-of-type(3):after  {
					background-size: 35% 35%!important;
					background-position: center center;
					top: 30%;
				}
				.decorating-formula-title {
					font-size: 1.9rem;
				}
				.decorating-formula-product-title {
					font-size: 1rem;
				}
				.decorating-formula-price {
					font-size: 0.75rem;
				}
				.decorating-formula-thumb {
					margin: 20px auto;
					width: 90%;
				}
			}

		}

		.editors-area {
			.editors-pick, .editor-guest-image, .guest-editor {
			min-height: 480px;
			}
			.editors-pick {
				padding: 20px;

				.editors-pick-title h3 {
					font-size: 1.8em;
				}
			}
			.editor-guest-image {

			}
			.guest-editor {
				.guest-editor-details {
					.editor-quote {
						margin-bottom: 0;
					}
					.editor-blurb {
						padding: 20px 0;
					}

				}
			}
		}

		.shop-the-issue {
			.magazine_list_item {
				padding: 0 30px;

				.issue-img {
					width: 80%;
					.block-center;
				}
			}
			.carousel-control.right {
				right: -3%;
			}
			.carousel-control.left {
				left: -3%;
			}
		}

		.more-shots {
			.more-shots-thumbs {
				&:nth-of-type(2n+1) {
					.clear;
				}
			}
		}

	}

	/* ===============================
	Shop Details
	=================================*/
	.catalog-product-view {
		.main {
			padding-top: 60px;
		}
		.product.attribute.name {
			text-align: center;
			font-family: @fancyFont;
			font-size: 34px;
			font-style: italic;
			margin-top: 20px;
			margin-bottom: 20px;
		}
		.product-info-price {
			font-family: @fancyFont;
			text-align: center;
		}
	}

	/* ===============================
	Editors
	=================================*/
	.editor-index-view {
		.vcenter {
			display: block!important;
		}
		.editor-intro {
			.editor-guest-title {
				margin-bottom: 10px;
			}
		}
		.editor-details {
			text-align: center;
			display: block;
			margin-top: 20px;
		}
		.quote {
			p {
				font-size: 20px;
				line-height: 22px;
			}
		}
		.editor-single-thumb {
			img {
				margin: 20px auto;
				width: 90%;
			}
		}
		.editor-single-thumb {
			margin-bottom: 30px;
		}
	}
	/* ===============================
	Magazine
	=================================*/

	/* ===============================
	404
	=================================*/

	/* ===============================
	Search Results
	=================================*/


}

/* ==========================================================================
Extra Small Screens
========================================================================== */

@media only screen and (min-width: 300px) and (max-width: 550px) {
	body, html {
		font-size: 14px;
	}

	/* ===============================
	Homepage
	=================================*/
	.cms-home {
		.homeslider {
		}
		.home-slider {
      .homepage-hero-details {
        height: 300px;
        width: 300px;

        h4 {
          font-size: 28px;
        }
        p {
          font-size: 1rem;
          margin-right: -5%;
    			margin-left: -5%;
        }
        .hero-details-title {
          font-size: 16px;

          strong {
            font-size: 22px;
          }
        }
      }
      .carousel-control.right, .carousel-control.left {
      }
		}

		.decorating-formula {

			.formula_list_view {
				.carousel-control.right, .carousel-control.left {
					background-size: 50%;
					top: 58%;
				}
				.carousel-control.right {
					right: -3%;
				}
				.carousel-control.left {
					left: -3%;
				}
			}
		}

		.editors-area {
			.editors-pick, .editor-guest-image, .guest-editor {
			min-height: 480px;
			}
			.editor-guest-image {
			}
			.guest-editor {
				.guest-editor-details {
				}
			}
		}

		.shop-the-issue {

		}
		.more-shots {
      .more-shots-thumbs {
        width: 100%;
      }
    }

	}
}
