/* Kadis Changes - Will merge with main.less at a later date */

.product-info-price span.price{
	display:inline-block;
	margin:5px 0 10px;
}

.product-info-main .product-options-wrapper .fieldset .color .swatch-attribute-selected-option{
	display: block;
}

.swatch-attribute-selected-option {
    padding-left: 0 !important;
		margin-bottom: 5px;
}

.swatch-attribute-label {
    font-weight: normal !important;
}

.single-product-cart .product-qty label{
	font-weight: normal;
}

.product-info-main .product-options-wrapper .fieldset .swatch-attribute-label {
    margin-bottom: 10px;
}

.swatch-attribute {
    margin-bottom: 60px !important;
}

.swatch-attribute.size {
    margin-bottom: 60px !important;
}

.product-qty select {
    text-align: left;
}

.first-review{
	display:block;
	font: normal 14px/20px "Montserrat-Light",Helvetica,Arial,sans-serif;
	margin-bottom:10px;
}


.products-upsell .old-price {
    display: inline;
}

.products-upsell .special-price {
    display: inline;
}

.old-price span span {
    font-family: "Montserrat-Light",Helvetica,Arial,sans-serif;
		color: #8d8d8d;
}

.upsell .product-item-details p{
	margin-bottom: 10px;
}

.catalog-product-view .product-shop-the-shot .shop-the-shot-hover {
	text-transform:capitalize;
	background-color: rgba(255, 255, 255, 0.80);
}

.catalog-product-view .product-shop-the-shot .shop-the-shot-hover:hover {
	background-color: rgba(255, 255, 255, 1.00);
}

.short-review,.full-review{
	font-size:14px;
}

.review-read-more{
	font-size:12px;
	text-transform:uppercase;
	text-decoration:none !important;
}

.review-read-more:hover{
	text-decoration:underline !important;
}

.review-meta{
	font-size:12px;
}

.read-all-reviews a:hover{
	text-decoration:underline;
}

.catalog-product-view .product-editors-pick {
    right: 15px;
}

.catalog-product-view .product-editors-pick .product-editors-pick-details h5:hover {
	text-decoration:underline;
}

// .styled-select .sorter-options {
//     width: 76%;
// }

@media (max-width: 1199px) {
	
	// .styled-select .sorter-options {
// 	    width: 70%;
// 	}
	
}

.product-item-details .price-container .price {
	color:#8d8d8d;
}

div.MagicToolboxContainer {
	width:80%;
	margin:0 auto;
}

.addthis_toolbox a:hover{
	opacity: 0.5;
}

.product-addto-links a:hover{
	opacity: 0.5;
}

.catalog-product-view .product-info-main .name .value {
    font-size: 30px;
}

.weltpixel-quickview-catalog-product-view .viewfull-details {
    margin-bottom: 25px;
}

.product-info-main .price-box .price-wrapper .price, .product-options-bottom .price-box .price-wrapper .price {
	margin-bottom:20px;
	display:block;
}

.weltpixel-quickview-catalog-product-view .add-to-cart {
    margin-bottom: 20px;
}

.review-field-ratings .label {
	font-size:14px !important;
}

.review-field-text label{
	font-weight:300 !important;
}

.btn-cart-single {
    margin: 20px auto !important;
}

.new-product{
	font-weight:300 !important;
}

/* ==========================================================================
All small devices - till 750px
========================================================================== */
@media (max-width: 750px) {
	body, html {
		font-size: 15px;
	}

	/* ===============================
	Classes
	=================================*/
	.display-block-xs {
		display: block!important;
	}
	.center {
		text-align: center;
	}
	.none {
		display: none;
	}
	.clear {
		clear: both;
	}
	.block-center {
		display: block;
		margin: 0 auto;
	}
	.quickview-bar,
	.quickview-bar2 {
		.none;
	}
	.page-title, .page-title-small {
		background-size: 100%;

		span {
			padding: 0 15px;
		}

		strong {
			font-size: 34px;
		}
	}
	.subtitle {
		margin: 0 auto;
    width: 90%;
    margin-bottom: 35px;
    margin-top: 10px;
	}

	/* ===============================
	Global
	=================================*/
	.cms-page-view, .faqs-index-index, .contact-index-index, .cms-privacy-policy, .cms-terms-conditions {
	  .inner-content {
	    padding-left: 0;
	  }
	  .page-title {
	    margin-bottom: 40px;
	  }
	}

	/* ===============================
	Header
	=================================*/


	/* ===============================
	Footer
	=================================*/
	.footer-col li strong {
		font-size: 1rem;
	}
	.page-footer {
		.border-left {
			margin-left: 0;
		}
	}
	.page-footer {
    .newsletter-footer {
      text-align: center;
    }
		.newsletter-footer-inner {
			text-align: center;

			button {
				float: none;
			}
		}
		.footer-social {
			.center;
			margin-bottom: 50px;
		}
		.footer-col.border-left {
			border-left: none;
			ul {
				border-left: 1px solid #000;
				padding-left: 20px;
			}
		}
		.footer-logo {
			.center;
		}
	}

	/* ===============================
	Carousel - Global
	=================================*/
	.carousel-control.right, .carousel-control.left {
		height: 50px;
    width: 30px;
    background-size: 90%;
	}

	/* ===============================
	Homepage
	=================================*/
	.cms-home {

		.homeslider {
			.homepage-hero {
				width: 100%;
			}
			.mood-bg {
				width: 100%;
				background: none!important;
			}
			.homepage-controls {
				top: 0;
			}
			.homepage-controls {
				bottom: 15px;
				width: 100px;
				height: 50px;

				.carousel-control.right, .carousel-control.left  {
					opacity: 1;
					margin-top: -400px;
				}
				.carousel-control.right {
			    right: -75%;
				}
				.carousel-control.left {
			    left: -75%;
				}
			}

			.carousel-indicators {
				li {
					background-color: #CCC;
					border-color: #CCC;
					margin-right: 5px;
				}
				.active {
					background-color: #000;
					border: none;
				}
			}
		}
		.home-slider {
		 	.homepage-hero-details {
				margin-top: -85px;
				background: #FFF;

				p {
					margin-right: -25%;
					margin-left: -25%;
				}
				h4 {
					margin-top: 30px;
				}
				.hero-details-title {
			    width: 85%;
			    margin: 0 auto;
			    margin-top: 60px;
				}

				.homepage-hero-btn {
					padding: 10px 15px;
					width: 80%;
				}

		 		.hero-details-inner {
					padding: 0;
				}

				.hero-details-title {
					margin-top: 45px;
				}

				.homepage-hero-btn {
					display: block;
				}
				.carousel-indicators .active {
					margin: 0;
					margin-right: 5px;
					width: 11px;
					height: 11px;
				}

				.carousel-control.right,
				.carousel-control.left {
					height: 70px;
					width: 35px;
					top: -400px;
					background-size: 80% 80%!important;
					opacity: 1;
				}
		 	}
		}

		.decorating-formula {
			padding-top: 40px;
			border-top: 1px solid #b2b2b2;

			.decorating-formula-product {
				margin-top: 0;
			}
			.formula_list_view {
				.decorating-formula-product:nth-of-type(3):before,
				.decorating-formula-product:nth-of-type(3):after  {
					background-size: 35% 35%!important;
					background-position: center center;
					top: 30%;
				}
				.decorating-formula-title {
					font-size: 1.9rem;
				}
				.decorating-formula-product-title {
					font-size: 1rem;
				}
				.decorating-formula-price {
					font-size: 0.75rem;
				}
				.decorating-formula-thumb {
					margin: 20px auto;
					width: 90%;
				}
			}

		}

		.editors-area {
			.editors-pick, .editor-guest-image, .guest-editor {
			min-height: 480px;
			}
			.editors-pick {
				padding: 20px;

				.editors-pick-title h3 {
					font-size: 1.8em;
				}
			}
			.editor-guest-image {

			}
			.guest-editor {
				.guest-editor-details {
					.editor-quote {
						margin-bottom: 0;
					}
					.editor-blurb {
						padding: 20px 0;
					}

				}
			}
		}

		.shop-the-issue {
			.magazine_list_item {
				padding: 0 30px;

				.issue-img {
					width: 80%;
					.block-center;
				}
			}
			.carousel-control.right {
				right: -3%;
			}
			.carousel-control.left {
				left: -3%;
			}
		}

		.more-shots {
			.more-shots-thumbs {
				&:nth-of-type(2n+1) {
					.clear;
				}
			}
		}

	}
}

/* ==========================================================================
Extra Small Screens
========================================================================== */

@media only screen and (min-width: 300px) and (max-width: 550px) {
	body, html {
		font-size: 14px;
	}

	/* ===============================
	Homepage
	=================================*/
	.cms-home {
		.homeslider {
		}
		.home-slider {
      .homepage-hero-details {
        height: 300px;
        width: 300px;

        h4 {
          font-size: 28px;
        }
        p {
          font-size: 1rem;
          margin-right: -5%;
    			margin-left: -5%;
        }
        .hero-details-title {
          font-size: 16px;

          strong {
            font-size: 22px;
          }
        }
      }
      .carousel-control.right, .carousel-control.left {
      }
		}

		.decorating-formula {

			.formula_list_view {
				.carousel-control.right, .carousel-control.left {
					background-size: 50%;
					top: 58%;
				}
				.carousel-control.right {
					right: -3%;
				}
				.carousel-control.left {
					left: -3%;
				}
			}
		}

		.editors-area {
			.editors-pick, .editor-guest-image, .guest-editor {
			min-height: 480px;
			}
			.editor-guest-image {
			}
			.guest-editor {
				.guest-editor-details {
				}
			}
		}

		.shop-the-issue {

		}
		.more-shots {
      .more-shots-thumbs {
        width: 100%;
      }
    }

	}
}


/* other */



/*
@media (max-width: 1024px) {

	.clearfix {
		clear: both;
	}
	.margintop-30xs {
		margin-top: 30px;
	}
	body {
		font-size: 14px;
	}

	p {
		font-size: 0.65rem;
	}

	#awemenu .am-tabs a {
		font-size: 0.65rem!important;
	}
	label,
	select {
		font-size: 0.75em;
	}
	.header-top-left-link {
		font-size: 0.75em;
	}
	.header-top-right,
	.minicart-wrapper .action.showcart .text {
		font-size: 0.65rem;
	}
	.page-title {
		font-size: 1.3rem;
	}

	.page-title-small {
		font-size: 0.85rem;
		margin-bottom: 0;
	}

	.shot-thumb {
		h4 {
			font-size: 1.4rem;
			margin-bottom: 0;
		}
		.title {
			font-size: 1rem;
		}
	}
	.quickview-bar2, .quickview-bar2 {
		font-size: 0.75rem;
	}
	.cms-home {
		.homeslider .homepage-controls {
			bottom: 0;
		}

		.editor-guest-image {
			background-position: center!important;
		}
		.item {
			padding: 0 30px;
		}
		.homeslider {
			.item {
				padding: 0;
			}
		}
		.formula_list_view, .magazine_list_view {
			.carousel-control.right {
				right: -3%;
			}
			.carousel-control.left {
				left: -3%;
			}
		}
		.subtitle {
			margin-top: 0;
			font-size: 0.9rem;
		}
	}

	.catalog-category-view {
		.styled-select {
			.sorter-options {
				width: 70%;
			}
		}
		.limiter-option {
			width: 32%!important;
		}
		.new-product {
			font-size: 0.65rem;
		}
		.category-image p {
			font-size: 1rem;
		}
		.price, .product-item-details .price-container .price {
			font-size: 0.7rem;
		}
	}

	.catalog-product-view {

		.media {
			text-align: center;

			.value {
				font-family: 'Droid Serif', Georgia, serif;
				font-size: 25px;
				font-style: italic;;
			}
		}

		.price-container .price {
			font-size: 0.65em;
		}

		.product.data.items > .item.title > .switch {
			font-size: 0.75rem!important;
		}
		.products-upsell .old-price,
		.products-upsell .special-price {
			width: auto;
		}
		.new-product {
			text-align: center;
			margin-bottom: 5px;
		}
		.product-item-details .price-container .price {
			font-size: 0.75rem;
		}
		.old-price span span {
			font-size: 11px!important;
		}
		.new-product {
			font-size: 0.65rem;
		}
		.product.info.detailed .additional-attributes {
			font-size: 0.75rem;
		}
		.label {
			font-size: 0.7rem;
		}
		.product-info-main .name .value {
			font-size: 1.7rem;
		}
		.product-info-main .price-box .price-wrapper .price, .product-options-bottom .price-box .price-wrapper .price {
			font-size: 1.4rem;
		}
		.product-info-main .product-options-wrapper .fieldset .swatch-attribute-label, .product-qty label, .single-product-wishlist, .addthis_toolbox a {
			font-size: 0.75rem;
		}
		.review-contents {
			font-size: 0.7rem;
			line-height: 1.3rem;
		}
		.products-upsell {
			.product-item-details {
				font-size: 0.65rem;
    		line-height: 0.95rem;
			}
		}
		.description {
			p {
				font-size: 0.7rem;
				line-height: 1.3rem;
				text-align: left;
				display: block;
			}
		}
	}
	.catalog-product-view {
		.new-product {
			text-align: center;
			display: block;
		}
	}
	.catalog-product-view {
		.single-product-wishlist {
			margin-left: 20px;
		}

		.product-qty .styled-select {
			clear: both;
		}
	}
	.weltpixel-quickview-catalog-product-view {
		.single-product-wishlist {
			margin-left: 0;
		}
	}
}

*/

/* ------ Tablet Portrait size to standard 960 (devices and browsers) ------*/

/*
@media only screen and (min-width: 768px) and (max-width: 1024px) {
	.cms-home {
		.homeslider {
			
		}
		.formula_list_view {
		}
	}
	.hotspot-details {
		padding: 20px;

		h1 {
			font-size: 30px;
			margin-bottom: 10px;
		}

		p {
			font-size: 12px;
		}

		.btn-fullscreen {
			font-size: 11px;
			padding: 8px 25px;
		}

		.pro-detail-div {
			.actions-primary {
				margin-top: 10px;
			}
			.hotspot-btn {
				font-size: 12px;
				padding: 10px 15px;
			}
			img {
				width: 50%;
			}
			.desc {
				font-size: 12px;
			}
			h2 {
				a {
					font-size: 17px;
				}
			}
		}
	}
}




@media (max-width: 800px) {
	#awemenu {
		.am-tabs {
			.am-tab {
				display: block;
				width: 100%;
			}
		}
		.am-tab-dropdown-full-width {
			text-align: center;
		}
		.level-one, .level-two, .level-three {
			margin: 0;
			width: 100%;
		}
	}
	#awemenu .am-tabs .am-tab.shop-menu {
		float: none!important;
	}

	#awemenu .am-tabs .am-tab.shop-menu.am-tab-active {

	}

	.main-nav {
		z-index: 2;
	}
	.am-tabs-hidetabs {
		height: auto;
	}

	.mobile-full {
		position: fixed;
		height: 100%;
		top: 0;
		left: 0;
		background-color: rgba(255,255,255,0.95);
		transition: 0.3s;

		.am-tab-home {
			position: absolute;
			top: 0;
			left: 0;
		}
	}

	#awemenu .am-tabs.am-tabs-root > .am-sortable > .am-tab > .am-dropdown {
		padding: 0;
		margin: 0;
    position: absolute;
    top: 0;
	}

	.header-topbar p span {
		padding: 5px 40px;
	}
	.page-title, .page-title-small {
		font-size: 1.3rem;
		text-align: center;
		background-size: 100%;

		span {
			padding: 0 20px;

			strong {
				font-size: 38px;
			}
		}
	}
	.display-block-xs {
		display: block!important;
	}

	.lookbook-container {
		.homepage-hero {
			width: 100%;
		}
		.mood-bg {
			width: 100%;
		}
	}
	.cms-home {


		.item {
			padding: 0 10px;
		}
		.formula_list_view {
		}

		.hotspot-placeholder, .mood-bg {
			background: none!important;
			margin-top: -85px;
		}
	}
	#awemenu .am-tabs.am-tabs-root {
		text-align: left!important;
	}
	.catalog-product-view {
		.upsell {
			.item {
				padding: 0 30px;
			}
		}
	}
	.catalog-product-view .product-qty label {
		display: none;
	}
	.review-details-div {
		.btn-main {
			clear: both;
			margin-top: 20px;
			width: 100%;
		}
		.read-all-reviews {
			float: none;
			clear: both;
			display: block;
			text-align: left;
			width: 100%;
			margin-bottom: 15px;
		}
	}
	.page-products {
		.columns .column.main {
			padding-top: 30px;
		}
		.product-item-photo {
			height: auto;
		}
	}
	.account {
		.page-title-wrapper {
			margin-bottom: 0;

			.page-title {
				margin-right: 0;
			}
		}
		.page.messages {
			margin-bottom: 10px;
		}
		.sidebar {
			.block {
				margin-bottom: 0;
			}
			.content {
				padding: 0;
			}
			select {
				margin-top: 0;
				width: 100%;
			}
		}
		p {
			font-size: 1em;
		}
		.box-actions {
			margin-bottom: 40px;
		}
		.box-title {
			font-size: 21px;
		}
		.block-main-title {
			font-size: 23px;

			a {
				font-size: 0.6em;
			}
		}
	}
  .header-topbar {
    p {
      font-size: 0.75em!important;
    }
  }
  .mfp-content {
  	min-width: 300px;
  }
}






@media (max-width: 600px) {
	.product-qty .styled-select {
		width: auto;
	}
	.quickview-bar2 {
		display: none;
	}


	.more-shots-thumbs:nth-of-type(3) {
		clear: both;
	}

	.cms-home {
		.homeslider {


		}
		.mood-bg {
			padding-bottom: 60px;
		}
		.home-slider {
		}
	}
}


@media only screen and (min-width: 300px) and (max-width: 400px) {
	.cms-home {
		.formula_list_view {
			.decorating-formula-thumb {
				margin: 20px auto;
				width: 90%;
			}
			.carousel-control.right {
				top: 55%;
				right: -6%;
			}
		}
	}
}

*/
